
.row--prTemp {
  padding-top: 40px;  
}

.TemplatesListComponent {
}

.TemplatesListComponent-list {

}

.TemplatesListComponent-list li {
  margin-bottom: 20px;
  font-size: 15px;
}

.TemplatesListComponent-list li:hover {
  cursor: pointer;
}

.TemplatesListComponent-list li a {
  color: #333;
}

.TemplatesListComponent-list li a:hover {
  opacity: 0.8;
  color: #337ab7;
}
