
.TemplatesListComponent {
  padding-top: 40px;
}

.TemplatesListComponent-list {

}

.TemplatesListComponent-list li {
  margin-bottom: 20px;
  font-size: 15px;
}

.TemplatesListComponent-list li:hover {
  cursor: pointer;
  opacity: 0.8;
}
